<table *ngIf="dataLoaded==true" class="table"> 
    <thead>
        <tr>
            <th>Id</th>
            <th>Renk Adı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let color of colors"> 
        <td>{{color.colorId}}</td>
        <td>{{color.colorName}}</td>
        <td><button type="button" routerLink = "/colors/update/{{color.colorId}}" class="btn btn-primary">Güncelle</button></td>
        <td><button type="button" (click)="delete(color)" class="btn btn-danger">Sil</button></td>
    </tr>
    </tbody>
    
</table>

<div class="text-center">
    <p></p>
    <p></p>
    <button routerLink = "/colors/add" class="btn btn-success">Renk Ekle</button>
  </div>