<table class="table"> 
  <thead>
      <tr>
          <th>Id</th>
          <th>Açıklama</th>
          <th>Renk</th>
          <th>Marka</th>
          <th>Yıl</th>
          <th>Günlük Ücret</th>
      </tr>
  </thead>
  <tr *ngFor="let car of cars"> 
      <td>{{car.carId}}</td>
      <td>{{car.description}}</td>
      <td>{{car.colorName}}</td>
      <td>{{car.brandName}}</td>
      <td>{{car.modelYear}}</td>
      <td>{{car.dailyPrice}}</td>
  </tr>
</table>
<h3><strong>Araç Fotoğrafları</strong></h3>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let image of images" class="col">
      <div class="card">
        <img src="{{image.imagePath}}" class="card-img-top" alt="...">
      </div>
    </div>
  </div>

  <div *ngFor="let car of cars" class="text-center">
    <p></p>
    <p></p>
    <button *ngIf="(available==true&&isFindeksOk==true)&&isLoggedIn==true" routerLink = "/rent/{{car.carId}}" class="btn btn-success">Kirala</button>
  </div>

  <div *ngIf="available==false&&isLoggedIn==true" class="text-center">
    <p></p>
    <p></p>
    <button type="button" disabled data-bs-toggle="button" class="btn btn-danger">Bu araba şu anda kiralanamaz</button>
  </div>
  <div *ngIf="isFindeksOk==false&&isLoggedIn==true"  class="text-center">
    <p></p>
    <p></p>
    <button type="button" disabled data-bs-toggle="button" class="btn btn-danger">Findeks puanınız bu araba için yetersiz</button>
  </div>