<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h5 class="title">Kirala</h5></div>
      <div class="card-body">
        <form>
          <fieldset disabled="disabled">
            <div class="mb-3">
              <label for="disabledTextInput">Fiyat</label>
              <div class="form-group">
                <input
                  type="text"
                  id="dailyPrice"
                  class="form-control"
                  value="{{ dailyPrice }}"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="disabledTextInput">Car Id</label>
              <div class="form-group">
                <input
                  type="number"
                  id="carId"
                  class="form-control"
                  value="{{ carId }}"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="disabledTextInput">Şirket Adı</label>
              <div class="form-group">
                <input
                  type="text"
                  id="companyName"
                  class="form-control"
                  value="{{ companyName }}"
                />
              </div>
              <label for="disabledTextInput">Müşteri id</label>
              <div class="form-group">
                <input
                  type="number"
                  id="customerId"
                  class="form-control"
                  value="{{ customerId }}"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="disabledTextInput">İsim Soyisim</label>
              <div class="form-group">
                <input
                  type="text"
                  id="userName"
                  class="form-control"
                  value="{{ userName }}"
                />
              </div>
            </div>
          </fieldset>
        </form>
        <div class="card-body">
        <div class="row">
          <div class="col">
            <label for="rentDate">Kiralama Tarihi: </label>
            <input
              type="date"
              id="rentDate"
              (input)="calculate()"
              [(ngModel)]="rentDate"
              name="rentDate"
            />
          </div>
          <div class="col">
            <label for="returnDate">Geri Verme Tarihi: </label>
            <input
              type="date"
              id="returnDate"
              [(ngModel)]="returnDate"
              (input)="calculate()"
              name="returnDate"
            />
          </div>
        </div>
        </div>

        <fieldset
          *ngIf="returnDate != null && available == true"
          disabled="disabled"
        >
          <div *ngIf="totalPrice != null" class="mb-3">
            <label for="totalPrice">Toplam Ücret</label>
            <div class="form-group">
              <input type="number" id="totalPrice" value="{{ totalPrice }}" />
              TL
            </div>
          </div>
        </fieldset>
        <div class="text-center">
          <div class="text-center">
            <button
              *ngIf="available == true"
              (click)="goPayment()"
              class="btn btn-success"
            >
              Ödeme Sayfasına Geç
            </button>
            <p></p>
            <p></p>
          </div>

          <div *ngIf="available == false">
            <button
              type="button"
              disabled
              data-bs-toggle="button"
              class="btn btn-danger"
            >
              Seçilen Tarih Aralığında Araba Uygun Değil
            </button>
            <p></p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
