<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Araba ara</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="arama ifadesi giriniz"
  />
</div>

<div *ngIf="filterText" class="alert alert-primary">
  {{ filterText }} aradınız.
</div>
<div class="row">
  <div class="col-md-5">
  <select [(ngModel)]="selectedColorName" id="color-select" class="form-control form-control-sm">
    <option value="Renk Seçin" disabled>Renk Seçin</option>
    <option *ngFor="let color of colors" [ngValue]="color.colorName">
      {{ color.colorName }}
    </option>
  </select>
  </div>
  <div class="col-md-5">
    <select [(ngModel)]="selectedBrandName" class="form-control form-control-sm" id="brand-select">
      <option value="Marka Seçin" disabled selected>Marka Seçin</option>
    <option *ngFor="let brand of brands" [ngValue]="brand.brandName">
      {{ brand.brandName }}
    </option>
  </select>
  </div>
  <div class="col-md-2">
    <label>  </label>
    <button
          type="button"
          class="btn btn-primary"
          (click)="applyFilter()"
        >
          Filtrele
        </button>
  </div>
</div>
<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Açıklama</th>
      <th>Renk</th>
      <th>Marka</th>
      <th>Yıl</th>
      <th>Günlük Ücret</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr
      routerLink="/cars/{{ car.carId }}"
      *ngFor="let car of cars | filterPipe: filterText"
    >
      <td>{{ car.carId }}</td>
      <td>{{ car.description }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.brandName }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.dailyPrice }}</td>
      <td>
        <button routerLink="/cars/{{ car.carId }}" class="btn btn-success">
          Araba Detayı
        </button>
      </td>
      <td>
        <button
          type="button"
          routerLink="/cars/update/{{ car.carId }}"
          class="btn btn-primary"
        >
          Güncelle
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="text-center">
  <p></p>
  <p></p>
  <button routerLink="/cars/add" class="btn btn-success">Araba Ekle</button>
</div>
