<div class="row m-2">
  <div class="col-md-3">
    <app-category></app-category>
  </div>
  <div class="col">
    <div *ngIf="dataLoaded == false" class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Araba ara</label>
      <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
        placeholder="arama ifadesi giriniz" />
    </div>

    <div *ngIf="filterText" class="alert alert-primary">
      {{ filterText }} aradınız.
    </div>
    <div class="row mb-3">
      <div class="col-md-5">
        <select [(ngModel)]="selectedColorId" id="color-select" class="form-control form-control-sm">
          <option value="0" selected disabled>Renk Seçin</option>
          <option *ngFor="let color of colors" [ngValue]="color.colorId">
            {{ color.colorName }}
          </option>
        </select>
      </div>
      <div class="col-md-5">
        <select [(ngModel)]="selectedBrandId" class="form-control form-control-sm" id="brand-select">
          <option value="0" selected disabled selected>Marka Seçin</option>
          <option *ngFor="let brand of brands" [ngValue]="brand.brandId">
            {{ brand.brandName }}
          </option>
        </select>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-primary btn-sm" (click)="applyFilter()">
          Filtrele
        </button>
      </div>
    </div>
    <div *ngIf="dataLoaded == true" class="row row-cols-1 row-cols-md-3">
      <div *ngFor="let car of cars | filterPipe: filterText" class="col mb-4">
        <div class="card h-130" style="width: 18rem;">
          <div style="min-block-size: 250px;" class="container">
            <img src="{{rootImagePath}}{{car.images[0].imagePath}}" style="margin-top: 2em;" class="img-fluid" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ car.description }}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Renk: {{ car.colorName }} </li>
            <li class="list-group-item">Marka: {{ car.brandName }}</li>
            <li class="list-group-item">Yıl: {{ car.modelYear }}</li>
            <li class="list-group-item">Günlük Ücret: {{ car.dailyPrice }}</li>
          </ul>
          <div class="card-body">
            <button routerLink="/cars/{{ car.carId }}" style="margin-right: 2em;" class="btn btn-success">
              Araba Detayı
            </button>
            <button type="button" routerLink="/cars/update/{{ car.carId }}" class="btn btn-primary">
              Güncelle
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <p></p>
    <p></p>
    <button routerLink="/cars/add" class="btn btn-success">Araba Ekle</button>
  </div>
</div>